form {
  margin-top: 30px;
}

.user-post, .user-review {
  font-weight: bold;
}


.yellowStar {
  color:#FDCC08;
}
/*
.beers-list li span {
  <span style="font-size:24px" class="fa">&#xf005;</span>
} 
 yellowStar' style='color:#FDCC08;'
 */